@model DeviceShop.Core.Entities.DeviceDto

<div class="row mt-4">
    <div class="col-xs-4 item-photo w-25">
        <img style="max-width:100%;" src="@Model.ImageUrl" />
    </div>
    <div class="col-xs-5" style="border:0px solid gray;max-width:800px;">
        <h3>@Model.Name</h3>

        <h4 class="title-price"><small>Price</small></h4>
        <div class="font-weight-bold">
            <span class="h5">@Model.Currency</span>
            <span class="h2">@Model.Price.ToString("N2")</span>
        </div>

        <div class="section mt-4 mb-2">
            <div style="border-top:1px solid silver">
                <small>@Model.Description</small>
            </div>
        </div>
    </div>
</div>   